<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @note.tags %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @note.owner %>
</p>

<p>
  <strong>Status:</strong>
  <%= @note.status %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
