<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
<a class="navbar-brand" href="#">Project name</a>
<ul class="nav navbar-nav">
<li class="nav-item active">
<a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<%= link_to("Notebooks", notebooks_path, :class => "nav-link") %>
</li>
<li class="nav-item">
<%= link_to("Notes", notes_path, :class => "nav-link") %>
</li>
<li class="nav-item">
<%= link_to("Images", images_path, :class => "nav-link") %>
</li>
<li class="nav-item">
<%= link_to("Videos", videos_path, :class => "nav-link") %>
</li>
<li class="nav-item">
<%= link_to("Audios", audios_path, :class => "nav-link") %>
</li>
<li class="nav-item">
<%= link_to("Texts", texts_path, :class => "nav-link") %>
</li>
</ul>
</nav>